<!DOCTYPE html>
<html lang="en" class="no-js" ng-app="MyShopApp">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blueprint: Filterable Product Grid</title>
    <meta name="description"
          content="Blueprint: A responsive product grid layout with touch-friendly Flickity galleries and Isotope-powered filter functionality."/>
    <meta name="keywords"
          content="blueprint, template, layout, grid, responsive, products, store, filter, isotope, flickity"/>
    <meta name="author" content="Codrops"/>
    <link rel="shortcut icon" href="favicon.ico">


    <!-- dependencies -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/flickity/dist/flickity.min.css"/>
    <link rel="stylesheet" type="text/css" href="fonts/pixelfabric-clothes/style.css"/>


    <!-- app styles -->
    <link rel="stylesheet" type="text/css" href="css/app.css"/>

    <script src="js/modernizr.custom.js"></script>
</head>
<body ng-controller="GridController">
<!-- footer-->
<div class="bar">
    <div class="filter">

        <!-- TODO
        <span class="filter__label">Filter: </span>
        <button class="action filter__item filter__item--selected" data-filter="*">All</button>
        <button ng-repeat="category in categories track by $index" class="action filter__item"
                data-filter=".{{category.name}}">
            <i class="icon icon--{{category.icon}}"></i>
            <span class="action__text">{{category.label}}</span>
        </button> -->
        <span class="filter__label">Filter: </span>
        <button class="action filter__item filter__item--selected" data-filter="*">All</button>
        <button class="action filter__item" data-filter=".jackets"><i class="icon icon--jacket"></i><span
                class="action__text">Jackets</span></button>
        <button class="action filter__item" data-filter=".shirts"><i class="icon icon--shirt"></i><span
                class="action__text">Shirts</span></button>
        <button class="action filter__item" data-filter=".dresses"><i class="icon icon--dress"></i><span
                class="action__text">Dresses</span></button>
        <button class="action filter__item" data-filter=".trousers"><i class="icon icon--trousers"></i><span
                class="action__text">Trousers</span></button>
        <button class="action filter__item" data-filter=".shoes"><i class="icon icon--shoe"></i><span
                class="action__text">Shoes</span></button>
    </div>
    <button class="cart">
        <i class="cart__icon fa fa-shopping-cart"></i>
        <span class="text-hidden">Shopping cart</span>
        <span class="cart__count">0</span>
    </button>
</div>
<!-- /footer -->


<!-- view -->
<div class="view">
    <!--  header -->
    <header class="bp-header cf">
        <span>MY SHOP
            <span class="bp-icon bp-icon-about" data-content="My shop description."></span>
        </span>

        <h1>Choose a product you like</h1>
    </header>
    <!-- /header -->

    <!-- grid -->
    <section class="grid grid--loading">

        <!-- loader -->
        <img class="grid__loader" src="images/grid.svg" width="60" alt="Loader image"/>
        <!-- loader -->

        <!-- isotope masonry -->
        <div class="grid__sizer"></div>
        <!-- /isotope masonry -->


        <!-- items -->
        <div ng-repeat="product in products track by $index" class="grid__item {{product.category}}"
             ng-class="{'grid__item--size-a': product.sticky}">
            <div class="slider">
                <div class="slider__item" ng-repeat="image in product.meta.images track by $index">
                    <img ng-src="{{image}}" alt="Dummy"/>
                </div>
            </div>
            <div class="meta">
                <h3 class="meta__title">{{product.meta.title}}</h3>
                <span class="meta__brand">{{product.meta.brand}}</span>
                <span class="meta__price">{{product.meta.price}}</span>
            </div>
            <button class="action action--button action--buy">
                <i class="fa fa-shopping-cart"></i>
                <span class="text-hidden">Add to cart</span>
            </button>
        </div>
        <!--items -->
    </section>
    <!-- /grid-->
</div>
<!-- /view -->


<!-- dependencies -->
<script src="bower_components/isotope/dist/isotope.pkgd.min.js"></script>
<script src="bower_components/flickity/dist/flickity.pkgd.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>

<script src="js/main.js"></script>


</body>
</html>